.vans-main{
    margin: 54.23px 28.9px 83.23px 26.91px;
}

.vans-filter{
    margin-bottom: 55.69px;
}

.vans-filter__title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #161616;
    margin-bottom: 22.39px;
}

.vans-filter__type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vans-filter__type__options{
    display: flex;
    align-items: center;
    gap: 20px;
}

.vans-filter__type__option{
    width: 104px;
    height: 37px;
    background-color: #FFEAD0;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    cursor: pointer;
}

.vans-filter__type__option.simple:hover{
    background-color: #E17654;
    color: #FFEAD0;
}

.vans-filter__type__option.luxury:hover{
    background-color: #161616;
    color: #FFEAD0;
}

.vans-filter__type__option.rugged:hover{
    background-color: #115E59;
    color: #FFEAD0;
}

.vans-filter__type__clear{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4D4D4D;
    cursor: pointer;
}

.vans-list{
    list-style: none;
    display: flex;
    width: 492.34px;
    flex-wrap: wrap;
    gap: 35.88px 26.9px;
}

.vans-list__item{
    width: 230.34px;
    height: 309.95px;
}

.vans-list__item__image{
    width: 100%;
    height: 229.23px;
    border-radius: 5px;
    margin-bottom: 7.97px;
    cursor: pointer;
}

.vans-list__item__information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vans-list__item__information__name, .vans-list__item__information__price-value{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #161616;
}

.vans-list__item__information__price-text{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #161616;
}

.vans-list__item__button-simple{
    width: 85.71px;
    height: 33.89px;
    background-color: #E17654;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFEAD0;
    text-transform: capitalize;
}

.vans-list__item__button-rugged{
    width: 85.71px;
    height: 33.89px;
    background-color: #115E59;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFEAD0;
    text-transform: capitalize;
}

.vans-list__item__button-luxury{
    width: 85.71px;
    height: 33.89px;
    background-color: #161616;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFEAD0;
    text-transform: capitalize;
}