.van-detail{
    margin-top: 27.34px;
}

.van-detail__name, .van-detail__type, .van-detail__description{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14.3548px;
    line-height: 21px;
    color: #161616;
    margin-bottom: 15px;
}

.van-detail__type{
    text-transform: capitalize;
}

.van-detail__public{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14.3548px;
    line-height: 21px;
    color: #161616;
}